{% extends '_layouts/base.twig' %}

{% block title %}Paste{% endblock %}

{% block body %}
    <main class="container home py-5">
        <form method="GET" action="/paste/show">
            <div class="input-group mb-3">
                <input name="id" type="text" class="form-control" placeholder="Message ID">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">View</button>
                </div>
            </div>
        </form>
        <p class="text-center">
            <a class="btn btn-primary" href="paste/new">Post your own!</a>
        </p>
    </main>
{% endblock %}